@import "/styles/shared_style.css";

.sectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8.75em 50em 11.8em;
}

.aboutContainer {
  background-color: #e1d5cc;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 1.2em;
}

.aboutContainer p {
  font-family: "Playfair Display", serif;
  line-height: 1.5em;
}
