@import "/styles/shared_style.css";

.sectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8.75em 50em 11.8em;
}

.aboutContainer {
  background-color: #f6eae1;
  width: 80%;
  box-shadow: 0.3em 0.3em 0.3em #00000033;
  display: flex;
  justify-content: center;
  padding: 1.2em;
}

.aboutContainer p {
  font-family: "Playfair Display", serif;
  line-height: 1.5em;
}

@media only screen and (min-width: 900px) {
  .aboutContainer {
    width: 50%;
  }
}
