@import "/styles/shared_style.css";

.sectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8.75em 56.25em 11.8em;
}

.contactContainer {
  background-color: #f6eae1;
  box-shadow: 0.3em 0.3em 0.3em #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  padding: 1.25em;
}

.phoneAddressContainer {
  width: 70%;
  padding: 1em;
  display: flex;
}

.phoneAddressContainer p {
  font-family: "Playfair Display", serif;
}

#phoneAddressTitle {
  display: flex;
  flex-direction: column;
}

#phoneAdress {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

input {
  background-color: white;
  font-family: "Playfair Display", serif;
  font-size: 1em;
  color: #565252;
  box-shadow: 0.3em 0.3em 0.3em #00000033;
  border: none;
  width: 90%;
  margin-top: 1em;
  padding: 1em;
}

input[type="submit"] {
  background-color: white;
  width: 90%;
  box-shadow: 0.3em 0.3em 0.3em #00000033;
}

textarea {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  width: 90%;
  height: 12em;
  box-shadow: 0.3em 0.3em 0.3em #00000033;
  border: none;
  margin-top: 1em;
  padding: 1em;
}
.formContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .sectionContainer {
    grid-template-rows: 8.75em 40em 11.8em;
  }
  .contactContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: flex-start;
  }
  .phoneAddressContainer {
    justify-content: flex-start;
    flex-direction: row;
  }

  #phoneAdressTitle {
    flex-direction: row;
  }
  #phoneAdress {
    flex-direction: column;
  }
}
