@import "/styles/shared_style.css";

.sectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 140px 900px 140px;
}

.contactContainer {
  background-color: #e1d5cc;
  line-height: 1.5;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

input {
  background-color: white;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #565252;
  box-shadow: 5px 5px 5px #00000033;
  border: none;
  width: 70%;
  margin-top: 10px;
  padding: 10px;
}

input[type="submit"] {
  background-color: white;
  width: 312px;
  box-shadow: 5px 5px 5px #00000033;
}

textarea {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  width: 70%;
  height: 200px;
  box-shadow: 5px 5px 5px #00000033;
  border: none;
  margin-top: 10px;
  padding: 10px;
}
