@import "/styles/shared_style.css";

.sectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8.75em 31.3em 58em 31.3em 11.8em;
}

.linkContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 17.5em 17.5em 17.5em;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(to bottom right, #faf8f8, #b1b1b1);
  font-size: 2em;
  width: 15.6rem;
  height: 15.6rem;
  margin-top: 1.87em;
  box-shadow: 0.3em 0.3em 0.3em#00000033;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: white;
  font-family: "Playfair Display", serif;
  font-size: 1em;
  color: #565252;
  box-shadow: 0.3em 0.3em 0.3em#00000033;
  border: none;
  width: 70%;
  margin-top: 0.625em;
  padding: 0.625em;
}

input[type="submit"] {
  background-color: white;
  width: 70%;
  box-shadow: 0.3em 0.3em 0.3em#00000033;
}

textarea {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  box-shadow: 0.3em 0.3em 0.3em#00000033;
  border: none;
  width: 70%;
  height: 12.5em;
  margin-top: 0.625em;
  padding: 0.625em;
}

@media only screen and (min-width: 900px) {
}
