@import "/styles/shared_style.css";

.sectionContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 140px 500px 840px 500px 250px;

  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.headerContainer {
  align-self: flex-start;
  padding: 20px;
}

.mainContainer {
  background-image: url("https://images.unsplash.com/photo-1501769214405-5e5ee5125a02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContainer img {
  width: 15%;
  max-width: 100px;
  align-self: flex-end;
  margin: 20px 20px 0px 0px;
}

.linkContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 280px 280px 280px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

button {
  font-family: "Playfair Display", serif;
  background-color: #d8d8d8;
  font-size: 32px;
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 30px;
  align-items: flex-end;
  justify-content: space-between;
}

.socialLink {
  display: flex;
  flex-direction: row;
}
.cbLogo {
}

/* styling for contact-form */
input {
  background-color: white;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  color: #565252;
  /* box-shadow: 2.5px 2.5px;
  color: grey; */
  width: 70%;
  margin-top: 10px;
  padding: 10px;
}

input[type="submit"] {
  background-color: white;
  width: 312px;
}

textarea {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  width: 70%;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
}

/*-----> ursprungliga bildstorleken på background image  width: 500px;
  height: 500px; */
